<!DOCTYPE html>
<html>
  <head>
    <title>Find My Fabric Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="columns">
      </div>
      <div class="columns">
        <div class="column is-one-third is-offset-one-third">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
